<html>
<body>

<h1>User: <%= @student.first_name %> <%= @student.last_name %></h1>
<br>
<% image_id=@id_var %>
<% for photo in @photos %>
  <% if photo.user_id.to_i == image_id.to_i %>
    <p>
      <strong>Id: </strong>
      <%= photo.id %>
    </p>

    <p>
      <%= image_tag(photo.file_name) %><br>
      <br>Created on: <%= photo.created_at.to_s(:db) %>
    </p>
    <h3>Comments on above image: </h3>

    <% for comment in @comments %>
      <% if comment.photo_id.to_i == photo.id.to_i %>
        <% for user in @users %>
          <% if user.id == comment.user_id %>
            <a href= "/photos/index/<%= user.id %>"><%= user.first_name %> <%= user.last_name %> </a>(<%= comment.created_at.to_s(:db) %>): <br> <%= comment.comment_text %><br><br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>

</body>
</html>